/* Start Sidebar Elements */
.sidebar { /* Sidebar Styling */
  background-color: #D8DEE2; /* Changing sidebar background to gray */
  width: 350px; 
  height: 100%; /* Sidebar is 100% of the page */
  position: fixed; /* Makes sidebar scroll with page */
  border-top: none; 
  border-left: none; 
  border-bottom: none; 
  border-right: 0.3px solid black; /* Solid border on right of sidebar */
  z-index: 1; /* Sidebar rises above everything else in its path*/
}

.picture {
  position: absolute; /* Goes with sidebar */
  border: 6px solid white; /* Solid white border around picture */
  top: 4%; 
  left: 22%;
}

.name {
  position: absolute; /* Goes with sidebar */
  color: #546773; /* Makes text a dark gray */
  top: 27%;
  left: 29%;
}

.job-title {
  position: absolute; /* Goes with sidebar */
  color: #546773; /* Makes text a dark gray */
  top: 30%;
  left: 33%;
}

.email {
  position: absolute; /* Goes with sidebar */
  color: #546773; /* Makes text a dark gray */
  top: 33%;
  left: 26%;
}

input.Writing { /* Medium Button Styling */
width: 200px;
padding: 5px;
cursor: pointer;
font-weight: bold;
font-size: 150%;
background: #FF9933; /* Makes background orange */
top: 40%;
left: 19%;
position: absolute; /* Goes with sidebar */
border: none;
}

.writing-text { /* Medium Button Text Styling */
  position: absolute; /* Goes with sidebar */
  top: 41%;
  left: 27%;
  font-family: 'Source Sans Pro', sans-serif;
}

input.freeCodeCamp { /* freeCodeCamp Button Styling */
width: 200px;
padding: 5px;
cursor: pointer;
font-weight: bold;
font-size: 150%;
background: #FF9933; /* Makes background orange */
top: 58%;
left: 19%;
position: absolute; /* Goes with sidebar */
border: none;
}

.freeCodeCamp-text { /* freeCodeCamp Button Text Styling */
  position: absolute; /* Goes with sidebar */
  top: 59.1%;
  left: 30%;
  font-family: 'Source Sans Pro', sans-serif;
}

input.GitHub { /* GitHub Button Styling */
width: 200px;
padding: 5px;
cursor: pointer;
font-weight: bold;
font-size: 150%;
background: #FF9933; /* Makes background orange */
top: 46%;
left: 19%;
position: absolute; /* Goes with sidebar */
border: none;
}

.GitHub-text { /* GitHub Button Text Styling */
  position: absolute;
  top: 47.2%;
  left: 37%;
  font-family: 'Source Sans Pro', sans-serif;
}

input.StackOverflow { /* Stack Overflow Button Styling */
width: 200px;
padding: 5px;
cursor: pointer;
font-weight: bold;
font-size: 150%;
background: #FF9933; /* Makes background orange */
top: 52%;
left: 19%;
position: absolute; /* Goes with sidebar */
border: none;
}

.StackOverflow-text { /* Stack Overflow Button Text Styling */
  position: absolute;
  top: 53%;
  left: 30%;
  font-family: 'Source Sans Pro', sans-serif;
}

/* End Sidebar Elements */

/* Makes all links white */

p a:hover {
   color: white;
}

p a:visited {
   color: white;
}

p a:link {
   color: white;
}

p a:active {
   color: white;
}

.fa-cog {
  color: white;
}

/* Styles intro text on the top */
.intro {
  position: absolute;
  left: 30%;
  top: 3%;
  font-family: 'Raleway';
}


